*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #fafafa !important;
}

.app__header{
  position: sticky;
  top: 0; 
  z-index: 5 ;
  background-color: white !important;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  width: 10%;
  object-fit: contain 
}

.app__signUp{
  width: 40%;
  margin: 20px;
}

.signUp{
  display: flex;
  flex-direction: column;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}

.upload-btn{
  margin-right: 20px !important;
}